/* 
    Created on : 11/10/2015, 13:54:57
    Author     : Raquel Gallo (31458521)
    Author     : William Cisang (31441564)
*/

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'Play-Bold';
    src: url(../fonts/Play-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Play-Regular';
    src: url(../fonts/Play-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'heroesassembleboldexpandital2';
    src: url(../fonts/heroesassembleboldexpandital2.ttf) format('truetype');
}
@font-face {
    font-family: 'heroesassembleboldital2';
    src: url(../fonts/heroesassembleboldital2.ttf) format('truetype');
}
@font-face {
    font-family: 'heroesassembleacadital';
    src: url(../fonts/heroesassembleacadital.ttf)format('truetype');
}
@font-face {
    font-family: 'heroesassemblegrad';
    src: url(../fonts/heroesassemblegrad.ttf)format('truetype');
}
.h4Herois{
    color: #FFF;
    font-family: Play-Regular;
}
.divHerois{
    width: 100%;
    padding-left: 25%;
}
.imgHeroisCab{
    padding-left: 16px;
    width: 60%;
    height: 60%;
}
.imgHeroisCor{
    padding-left: 20px;
    width: 60%;
    height: 60%;
}
.divSeparaHerois{
    width: 100%;
}
.pMeuHeroi{
    font-size: 60px;
    font-family: heroesassembleacadital;
    text-align: center;
    color:#E00000;
    padding-top: 15px;
}
.div-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.heroi{
    height: 100%;
    padding: 5%;
    float: left;
    position: relative;
}
.imgHeroiCab{
    width: 30%;
    height: 30%;
    margin-left: 35%;
}
.imgHeroiCor{
    width: 30%;
    height: 30%;
    margin-left: 35%;
}
.historia{
    height: 100%;
    padding: 5%;
    float: right;
    overflow: hidden;
    position: relative;
    color: #FFF;
    text-align: justify;
}
.intro{
    width: 100%;
    height: 100%;
}
.meio{
    width: 100%;
    height: 100%;
}
.conclusao{
    width: 100%;
    height: 100%; 
}
.editarHist{
    padding-right: 35%;
    float: right;
    color: #9d9d9d;
    font-size: 18px;
}
.editarIcone{

    float: left;
    padding-right: 5px;
    color:  #9d9d9d;
}
.wImg{
    padding-left: 150px;
    width: 400px;
    height: 300px;
}
.rImg{
    padding-left: 170px;
    width: 350px;
    height: 300px;
}
.h4About{
    text-align: center;
    padding-top: 5px;
    color: #E00000;
}
.pAbout{
    padding-top: 5px;
    color: #fff;
    width: 100%;
    margin-left: 50px;
    margin-right: 10px;
}
.h2Titles{
    text-align: center;
    padding: 15px;
    color: #E00000;
    font-family: Play-Bold;
}
#btnSugestao{
    float: right;
    margin-right: 10%;
}
.h4Hist{
    color: #E00000;
    margin: 35px 40% 35px 40%;
    font-family: heroesassembleacadital;
    font-size: 45px;
    
}