<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.br.lp3.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.br.lp3.controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>com.br.lp3.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarvelController</servlet-name>
        <servlet-class>com.br.lp3.controller.MarvelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriaController</servlet-name>
        <servlet-class>com.br.lp3.controller.HistoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.br.lp3.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeroiController</servlet-name>
        <servlet-class>com.br.lp3.controller.HeroiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistSugestaoController</servlet-name>
        <servlet-class>com.br.lp3.controller.HistSugestaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarvelController</servlet-name>
        <url-pattern>/MarvelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriaController</servlet-name>
        <url-pattern>/HistoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeroiController</servlet-name>
        <url-pattern>/HeroiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistSugestaoController</servlet-name>
        <url-pattern>/HistSugestaoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
